.container {
  max-width: 85%;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

.list {
  background-color: #eae9e9;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
}
body.dark-mode{
  background-color: #333;
  color: #fff;
}

.dark-mode .container {
  background-color: #333;
  color: #fff;
}

.dark-mode h2 {
  color: #fff;
}

.dark-mode .list {
  background-color: #555;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }

  h2 {
    font-size: 1.2rem;
  }

  li {
    padding: 15px;
  }
}
.loader {
  width: 70px;
  height: 70px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}